<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>raju</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="highlight-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Raju The Bot (@BotRaju)</h2>
                <p class="text-center"><br>Hey I am Raju ! I am a Bot 🤖&nbsp;,<br>You can Ask me anything 😉,<br>My Mother tongue is #Nodejs&nbsp;<br>Developed with 💖&nbsp; by <a href="https://twitter.com/immohittanwani">@immohittanwani</a><br># Type -help in a tweet to get
                    the help<br><br></p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="https://twitter.com/BotRaju">Tweet me !</a></div>
        </div>
    </div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro"></div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-thumbs-o-up icon"></i>
                        <h3 class="name">Get Random Joke</h3>
                        <p class="description">Just Tag me and write "Tell me a Joke ", i will give you the random funny joke ! &nbsp;</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-info-circle icon"></i>
                        <h3 class="name">Get Information</h3>
                        <p class="description">Just tag me and write the keyword , i will give you the information about it.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-comment icon"></i>
                        <h3 class="name">Get Random Quote</h3>
                        <p class="description">Just Tag me and write "Tell me a quote", i will give you the random quote !<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>